.idea
.vscode
.DS_Store
.git
__pycache__
pkmn_mk002.code-workspace

app/img_data/*
app/pokemon_detector.code-workspace

app/tools/__pycache__
app/tools/mymodel.h5

app/static/images/cut_face/*
app/static/images/default/*
app/static/images/face_detect/*